langchain
langchain-core
langchain-community
langgraph
langchain-groq
faiss-cpu
tiktoken
fastapi
uvicorn
streamlit
pydantic
python-dotenv
ragas
datasets
mlflow
beautifulsoup4
requests
pypdf
sentence-transformers
chromadb
typesense